

body {
    width: auto;
    height: auto;
    background:url(../Image/Pic2.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    ;
}

.container {

    width: 650px;
    margin: 0px;
    margin-bottom:10px ;
 

}

.login-section {
    background: rgb(103, 128, 136);
    padding: 20% ;
    opacity: .7;

}

.login-section img{

 background-color:rgb(175, 132, 13);
 
 margin-bottom: 20px;
 display: block;
}


 .login-section h2{
    text-align: left;
    color: rgb(19, 7, 2);
    font-size: 45px;
    text-transform:uppercase;
 }

 .form-control
 {
     width: 100%;
     height: 40px;
     margin-bottom: 10px;
     
 }

 .form-btn{
    height: 40%;
    width: 30%;
    margin: 20px auto;
    display: block;
    background: rgb(149, 179, 170);
    color:rgb(109, 15, 15); 
    text-transform: uppercase;
 }
 .form-btn:hover{
     cursor: pointer;
 }